*{
    font-family: Arial, Helvetica, sans-serif;
    padding: 0; 
    position: relative;
}

*, *:before, *:after {
  box-sizing: inherit;
}

html{
    font-size: 1rem;
    height: 100%;
}
header{
    background-color: black;
    color: white;
    margin: 0.5rem;    
}

footer{
    background-color: black;
    color: white;
    text-align: center;
    margin: 8px;
}

footer a img {
    margin-top: 14px;
    margin-bottom: 0px;
    padding-bottom: 0px;
}

footer p {
    margin-top: 5px;
}

.logo{
    box-sizing:border-box;
    display:inline-block;
    width: 80px;
    height: 80px;
    margin: 8px;
}

#aheader {
    color: white;
    border-radius: 0.25em;
    text-decoration: none;
    padding: 5px;
}

#aheader:hover {
    color:grey;
}

.nav-juntos{
    display: flex;
    justify-content: space-between;
}

form{
     background-color: gainsboro;
     padding: 20px;
     margin: 0px 180px 1px 180px;
     border-radius: 0px 0px 12px 12px;
}

.formulario{
    background-color: gainsboro;
    padding: 25px;
    margin: 1px 180px 0px 180px;
    border-radius: 12px 12px 0px 0px;
}

.clientes{
    margin: 10px;
    width: 280px;
    height: 280px;
}

.div-clientes{
    text-align: center;
}

.container {
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-template-rows: auto auto;
    gap: 10px;
    padding: 10px;
    border: black solid;
  }
  
.container > section, aside {
    /*border: black 1px solid;*/
    text-align: center;
  }
  
.item1 {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
  }
.item2 {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
}

.item3 {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3;
}

.item4 {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
}
  
.aside { 
    grid-column-start: 3;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 3;
}

/*Inicio: cards para remeras-buzos-jeans*/
.container-card { 
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-gap: 20px;
    align-items: stretch;
  }

  .container-card > article {
    border: 1px solid #ccc;
    box-shadow: 2px 2px 6px 0px  rgba(0,0,0,0.3);
  }

  .container-card > article img {
    max-width: 100%;
  } 

  .text {
    padding: 0 20px 20px;
  }
  .text > button {
    background: gray;
    border: 0;
    color: white;
    padding: 10px;
    width: 100%;
    }

    .text > button:hover{
        background:rgb(157, 156, 156);
        color: black;
        font-size: 0.9rem;
    }

  .flip-card {
    background-color: transparent;
    width: auto; /*300px; */
    height: auto; /*300px; */
    perspective: 1000px;
  }
  
  .flip-card-inner {
    position: relative;
    width: auto; /*100%; */
    height: auto; /*100%; */
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  } 
  
  .flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
  }
  
  .flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
  }
  
  .flip-card-front {
    background-color: #bbb;
    color: black;
  }
  
  .flip-card-back {
    background-color: #2980b9;
    color: white;
    transform: rotateY(180deg);
  }
  

/*Inicio: Para intercambio de imagenes */

.container img {
    width: 100%;
    height: 100%;
  }

.top-img {
    position:absolute;
    left: 0;
    top: 0;
    opacity: 0;
    transition: all 0.7s ease;
}

.top-img:hover{
    opacity: 1;
}  

/*Item para remeras-buzos-camisas-jeans*/

.item1-rbcj {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
    position: relative;
    border: black solid;
  }
.item2-rbcj {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
    position: relative;
}

.item3-rbcj {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 2;
    position: relative;
}

.item4-rbcj {
    grid-column-start: 4;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 2;
    position: relative;
}

/*Fin: Para intercambio de imagenes */

.slider-frame {
	width: 1200px;
    height: auto;
	margin: 0.5rem ;
	overflow: hidden;
}

.slider-frame ul {
	display: flex;
	padding: 0;
	width: 300%;
	animation: slide 15s infinite alternate ease-in-out;
}

.slider-frame li {
	width: 100%;
	list-style: none;
}

.slider-frame img {
	width: 100%;
}

@keyframes slide {
	0% {margin-left: 0;}
	30% {margin-left: 0;}
	
	35% {margin-left: -100%;}
	65% {margin-left: -100%;}
	
	70% {margin-left: -200%;}
	100% {margin-left: -200%;}
}

/*Inicio: Para el Menu Hamburguesa*/
  nav ul{
    display: none;
  }
  
  nav input:checked  ~ ul{
    display:block;
  }
  
  nav input {
    display:none ;
  }
  
  nav label {
    box-sizing: border-box;
    display: inline-block;
    border: 1px solid black;
    border-radius: 5px;
    width: 30px;
    height: 30px;
    line-height: 30px;
    font-weight: bold;
    text-align: center;
    user-select: none;
  }
  
  /* Estilo del boton cuando se pasa el mouse por encima*/
  nav label:hover{
    background: grey;
  }
  
  /* Estilo del boton cuando el menú está expandido*/
  nav input:checked ~ label {
    background: lightgrey; 
  }
  
  nav ul{
    margin-top:0;
    padding: 0;
    width: 200px;
  
  }
    
  nav li {
    display: block;
    background: lightgrey;
    margin: 0;
    padding: 10px;
    list-style: none;
    border-bottom: 1px solid grey;
  }
  
  /*Estilo cuando el mouse pasa encima de cada link del menu*/
  nav li:hover {
    filter: brightness(110%);
  }

  /*Fin: Para el Menu Hamburguesa*/

/*Inicio: Estilos para email*/
input[type=email]{
    -webkit-appearance: none;
    appearance: none;
  
    width: 50%;
    border: 1px solid #333;
    margin: 0;
  
    font-family: inherit;
    font-size: 90%;
  
    box-sizing: border-box;
  }
  
  /* Este es nuestro diseño para los campos no válidos */
  input:invalid{
    background-color: white;
  }
  
  input:focus:invalid {
    outline: none;
  }
  
  /* Este es el diseño para nuestros mensajes de error */
  .error {
    width : 100%;
    padding: 0;
  
    font-size: 80%;
    color: white;
    background-color: #900;
    border-radius: 0 0 5px 5px;
  
    box-sizing: border-box;
  }
  
  .error.active {
    padding: 0.3em;
  }
  /*Fin: Estilos para email */

  .contacto{
    padding-left: 52px;
  }

  .contacto > h1 {
    text-align: center;
    text-decoration-line: underline;
  }
  
  /*Inicio: Menu de opciones en Productos*/
  .body-prod {
    box-sizing: border-box;
    background: #eee;
  }
  #menu_gral {
    font-family: verdana, sans sherif;
    width: 20vw;
    margin: 0 1rem;
  }
  #menu_gral ul {
    box-shadow: 0 0 3px rgba(0,0,0,.4);
    list-style-type: none; 
    text-align: center;
  }
  #menu_gral > ul li {
    background: #FFf;
  }
  #menu_gral li a {
    display: block;
    text-decoration: none;
    font-size: 1rem;
    line-height: 2.5rem;
    color: #444;
  }
  #menu_gral li:hover a, #menu_gral li a:focus {
    background: #8DA889;
    color: #fff;
  }

  #menu_gral li ul {
    position: absolute;
    width: 0;
    left: 100%;
    top: 0;
    overflow: hidden;
  }
  #menu_gral li:hover ul, #menu_gral li:focus ul {
    width: 100%;
    background:  #bbb;
    z-index: 5;
  }
  #menu_gral li li {
    display: block;
    width: 100%;
  }
  #menu_gral li:hover li a, #menu_gral li:focus li a {
    font-family: monospace;
    font-size: .9rem;
    line-height: 1.7rem;
    border-top: 1px solid #e5e5e5;
    background: #444;
  }
  #menu_gral li li a:hover, #menu_gral li li a:focus {
    background: #8AA9B8; 
  }

  .container-prod{
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-template-rows: auto;
    gap: 10px;
    padding: 10px;
    border: black solid;
  }

  .item1-prod {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
  }

  .item2-prod {
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 2;
  }

  .item3-prod {
    grid-column-start: 4;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 2;
    margin: 0px;
    text-align: center;
  }

/*Fin: Menu de opciones en Productos*/

   /* Extra small devices (phones, 600px and down) */
 @media only screen and (max-width: 600px) {
    body{
        font-size: 8px;
    }
    .clientes{
        margin: 6px;
        width: 100px;
        height: 100px;
    }
    .container {
        display: grid;
        grid-template-columns: auto auto;
        grid-template-rows: auto auto auto;
        gap: 10px;
        padding: 10px;
    }

    .aside { 
        grid-column-start: 1;
        grid-column-end: 3;
        grid-row-start: 3;
        grid-row-end: 4;
    }
 
    .show-tradicional{
        display: none;
    }

    .logo{
        width: 40px;
        height: 40px;
    }
} 
 /* Small devices (portrait tablets and large phones, 600px and up) */
 @media only screen and (min-width: 600px) {
    body{
        font-size: 10px;
    }
    .clientes{
        margin: 7px;
        width: 150px;
        height: 150px;
    }
    .show-mobile{
        display: none;
    }
    .logo{
        width: 50px;
        height: 50px;
    }
 }
 /* Medium devices (landscape tablets, 768px and up) */
 @media only screen and (min-width: 768px) {
    body{
        font-size: 12px;
    }
    .clientes{
        margin: 8px;
        width: 200px;
        height: 200px;
    }
    .show-mobile{
        display: none;
    }
    .logo{
        width: 60px;
        height: 60px;
    }
 }
 /* Large devices (laptops/desktops, 992px and up) */
 @media only screen and (min-width: 992px) {
    body{
        font-size: 16px;
    }
    .clientes{
        margin: 10px;
        width: 280px;
        height: 280px;
    }
    .show-mobile{
        display: none;
    }
 }
 /* Extra large devices (large laptops and desktops, 1200px and up) */
 /* @media only screen and (min-width: 1200px) {...}  */